@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "highlight.js/styles/github.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--font-mono: "JetBrains Mono", monospace;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-bg-page: #ffffff;
	--color-bg-surface: #fafafa;
	--color-bg-input: #fafafa;

	--color-text-primary: #171717;
	--color-text-secondary: #52525b;
	--color-text-tertiary: #a1a1aa;

	--color-border-primary: #e4e4e7;

	--color-accent-green: #10b981;
	--color-accent-red: #ef4444;
	--color-accent-amber: #f59e0b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}

	@theme inline {
		--color-bg-page: #0a0a0a;
		--color-bg-surface: #18181b;
		--color-bg-input: #18181b;

		--color-text-primary: #ededed;
		--color-text-secondary: #a1a1aa;
		--color-text-tertiary: #71717a;

		--color-border-primary: #27272a;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: ui-sans-serif, system-ui, sans-serif;
}
